In [1]:
import pandas as pd
import numpy as np

def day_schedule_Update(data, top_Feasibility, URID, taxi_cost):
    '''
    data (pd.DataFrame): current schedule for all day's operations

    top_Feasibility (dict): insertion of URID on to bus resulting in min. lag.
        should be [0] element of ordered_inserts

    return (pd.DataFrame): updated (re-arranged) schedule URID properly
        put on to new bus from old bus'''

    tmp = data.copy()
    my_rows = data[data['BookingId']==URID.BookingId]
    #make sure we change the RunID of the URID when placed on new bus!
    tmp.ix[my_rows.index[:], 'Run'] = top_Feasibility['RunID']

    pickup_old = my_rows.index[0]
    dropoff_old = my_rows.index[1]
    pickup_new = top_Feasibility['pickup_insert'][1] #THIS IS OVERWRITING NEXT NODE
    dropoff_new = top_Feasibility['dropoff_insert'][1] #THIS WILL OVERWRITE NEXT NODE

    ind = tmp.index.tolist()
    ind.pop(pickup_old)
    ind.pop(dropoff_old-1)
    ind.insert(ind.index(pickup_new), pickup_old)
    ind.insert(ind.index(dropoff_new), dropoff_old)

    #move the URID into correct position in schedule
    new_data = tmp.reindex(ind)

    #update the inserted bus's ETAs!
    run_inserted = new_data[new_data['Run'] == URID.Run]
    run_inserted.ix[pickup_new:dropoff_new, 'ETA'] += top_Feasibility['pickup_lag']
    run_inserted.ix[dropoff_new:, 'ETA'] += top_Feasibility['total_lag']
    new_data.ix[run_inserted.index, 'ETA'] =  run_inserted.ix[:, 'ETA']

    return new_data

In [2]:
import get_URIDs as gU
import add_TimeWindowsCapacity as aTWC
broken_Run = '2028'
resched_init_time = 57330

data = pd.read_csv('/Users/fineiskid/Desktop/DSSG_ffineis/main_repo/Access_Analysis_Rproject/data/single_day_WCTW.csv')
URID = gU.get_URID_Bus(data, broken_Run, resched_init_time)
tF = {'total_lag': 1500, 'pickup_lag':600, 'RunID': 376, 'pickup_insert': (9,10), 'dropoff_insert': (11,12)}

Importing add_TimeWindowsCapacity
There are 3 rides left to be scheduled on broken run 2028

In [3]:
update = day_schedule_Update(data, tF, URID[0], 50.71)

/Users/fineiskid/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [4]:
update.ix[1125:1140, :]

,ServiceDate,Run,ProviderId,EvOrder,EvId,ReqTime,SchTime,ReqLate,Activity,ETA,...,PickupStart,PickupEnd,DropoffStart,DropoffEnd,wcOn,wcOff,amOn,amOff,wcCapacity,amCapacity
1125,4/14/14 0:00,2028,5,36552607,18268,53100,53100,-1,0,55470,...,52200,54000,0,0,0,0,1,0,1,2
1126,4/14/14 0:00,2028,5,38994012,7549,-1,-1,54900,1,55927,...,0,0,50827,54900,0,0,0,1,1,1
1127,4/14/14 0:00,2028,5,46307643,5922,-1,-1,-1,1,56673,...,0,0,51573,58773,0,1,0,0,0,1
1128,4/14/14 0:00,2028,5,50101184,4417,54900,54900,-1,0,57290,...,54000,55800,0,0,0,0,1,0,0,2
1129,4/14/14 0:00,2028,5,53875031,18241,-1,-1,-1,1,58102,...,0,0,53002,60202,0,0,0,1,0,1
1130,4/14/14 0:00,2028,5,59327373,4418,-1,-1,-1,1,58838,...,0,0,53738,60938,0,0,0,1,0,0
1133,4/14/14 0:00,2028,5,92670316,11882,-1,62700,-1,6,64800,...,0,0,0,0,0,0,0,0,0,0
1134,4/14/14 0:00,2028,5,98167547,48677,-1,-1,-1,16,65274,...,0,0,0,0,0,0,0,0,0,0
1135,4/14/14 0:00,2028,5,99999998,628,-1,63600,-1,3,66260,...,0,0,0,0,0,0,0,0,0,0
1136,4/14/14 0:00,2029,5,1,625,-1,46800,-1,4,45900,...,0,0,0,0,0,0,0,0,0,0
1137,4/14/14 0:00,2029,5,24362848,9122,47400,47400,-1,0,48060,...,46500,48300,0,0,1,0,0,0,1,0
1138,4/14/14 0:00,2029,5,26393095,9123,-1,-1,51300,1,49845,...,0,0,46245,51300,0,1,0,0,0,0
1139,4/14/14 0:00,2029,5,32483797,1263,51900,51900,-1,0,51319,...,51000,52800,0,0,1,0,1,0,1,1
1140,4/14/14 0:00,2029,5,43636321,8722,54000,54000,-1,0,53114,...,53100,54900,0,0,0,0,1,0,1,2

In [39]:
nb_cost = 200.13
delay_costs = np.array([12.32, 14.5, 67.43, 9.08])
taxi_costs = np.array([30.4, 12, 4.56, 80.90])
best_bus = ['502R', '2023', 'SEB180', '270']
bId = []; pref = []
for i in range(len(URID)):
    bId.append(str(int(URID[i].BookingId)))
    if delay_costs[i] < taxi_costs[i]:
        pref.append(best_bus[i])
    else:
        pref.append('taxi')

bId.append('New bus')
pref.append(nb_cost)

pd.DataFrame(np.array([bId, pref]).T, columns = ['BookingId', 'Lowest Cost'], )

  BookingId Lowest Cost
0  18031888        502R
1   New bus      200.13

In [37]:
# pd.DataFrame(index=URID, columns=columns)
bId

[]