In [2]:
import numpy as np
import pandas as pd

#set cd to data folder with QC'ed rides
% cd /Users/fineiskid/Desktop/Access_Analysis_Rproject_local/data/

/Users/fineiskid/Desktop/Access_Analysis_Rproject_local/data

In [9]:
rides = pd.read_csv("UW_Trip_Data_QC.csv")

In [67]:
rides.head(30)

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
0,1,61,0015-01-01,9701,6,1,1195,4,13500,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2,62,0015-01-01,9701,6,3225836,6878,0,15398,180,...,19047309,1,SUB,1,CLI1,NaN,107630,1,0,1
2,3,63,0015-01-01,9701,6,5815993,6879,1,17126,120,...,19047309,1,SUB,1,NaN,CLI1,107630,0,1,0
3,4,64,0015-01-01,9701,6,9677402,8711,0,18219,180,...,19058777,1,DEM,1,CLI1,NaN,7800,1,0,1
4,5,65,0015-01-01,9701,6,12903201,8749,1,18962,120,...,19058777,1,DEM,1,NaN,CLI1,7800,0,1,0
5,6,66,0015-01-01,9701,6,18750022,8663,0,19879,180,...,19057857,1,DEM,1,CLI1,NaN,74574,1,0,1
6,7,67,0015-01-01,9701,6,20413334,8605,1,20509,120,...,19057857,1,DEM,1,NaN,CLI1,74574,0,1,0
7,8,68,0015-01-01,9701,6,20967741,7982,0,21042,180,...,19047838,1,SUB,1,CLI1,NaN,107865,1,0,1
8,9,69,0015-01-01,9701,6,31187536,7983,1,22150,120,...,19047838,1,SUB,1,NaN,CLI1,107865,0,1,0
9,10,70,0015-01-01,9701,6,35881498,1756,0,24386,270,...,19047847,1,SUB,1,"CLI1,COM1",NaN,135240,1,0,1
10,11,71,0015-01-01,9701,6,40213966,9384,0,26121,180,...,19067202,1,DEM,1,CLI1,NaN,89819,1,0,2
11,12,72,0015-01-01,9701,6,41658084,1757,1,26419,180,...,19047847,1,SUB,1,NaN,"CLI1,COM1",135240,0,1,1
12,13,73,0015-01-01,9701,6,45777153,9442,1,26956,120,...,19067202,1,DEM,1,NaN,CLI1,89819,0,1,0
13,14,74,0015-01-01,9701,6,48387083,8528,7,27552,1800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
14,15,75,0015-01-01,9701,6,59302063,9488,0,30306,180,...,19067282,1,DEM,1,CLI1,NaN,56502,1,0,1
15,16,76,0015-01-01,9701,6,61638852,9505,1,31415,120,...,19067282,1,DEM,1,NaN,CLI1,56502,0,1,0
16,17,77,0015-01-01,9701,6,68649254,9443,0,32732,180,...,19067215,1,DEM,1,CLI1,NaN,5937,1,0,1
17,18,78,0015-01-01,9701,6,70049052,9440,1,33514,120,...,19067215,1,DEM,1,NaN,CLI1,5937,0,1,0
18,19,79,0015-01-01,9701,6,74248530,9689,0,34951,420,...,19067792,1,DEM,1,CLI1,NaN,4473,1,0,1
19,20,80,0015-01-01,9701,6,78125043,9089,0,36152,180,...,19064018,1,DEM,1,CLI1,NaN,134554,1,0,2
20,21,81,0015-01-01,9701,6,81856759,9140,1,37242,120,...,19064018,1,DEM,1,NaN,CLI1,134554,0,1,1
21,22,82,0015-01-01,9701,6,83100675,9811,1,38093,300,...,19067792,1,DEM,1,NaN,CLI1,4473,0,1,0
22,23,83,0015-01-01,9701,6,87417543,2905,0,39265,420,...,19047868,1,SUB,1,CLI1,NaN,125336,1,0,1
23,24,84,0015-01-01,9701,6,89665146,1725,0,39735,180,...,19047465,1,SUB,1,CLI1,NaN,101445,1,0,2
24,25,85,0015-01-01,9701,6,91583366,2906,1,40100,300,...,19047868,1,SUB,1,NaN,CLI1,125336,0,1,1
25,26,86,0015-01-01,9701,6,96081361,1726,1,41383,120,...,19047465,1,SUB,1,NaN,CLI1,101445,0,1,0
26,27,87,0015-01-01,9701,6,97580671,10649,6,42127,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
27,28,88,0015-01-01,9701,6,98185530,15525,16,42885,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
28,29,89,0015-01-01,9701,6,99999998,1196,3,43020,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
29,30,90,0015-01-01,9706,6,1,1193,4,17100,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [50]:
testdates = pd.to_datetime(rides["ServiceDate"].head(), format ='%Y-%m-%d', unit = "D")
type(testdates[1])

str

In [61]:
rides["ServiceDate"] = pd.to_datetime(rides["ServiceDate"], format ='%Y-%m-%d', unit = "D")
dates = rides["ServiceDate"].unique()
dates

array(['0015-01-01', '0015-01-03', '0015-01-04', '0015-01-10',
       '0015-01-11', '0015-01-17', '0015-01-18', '0015-01-24',
       '0015-01-25', '0015-01-31', '0015-02-01', '0015-02-07',
       '0015-02-08', '0015-02-14', '0015-02-15', '0015-02-21',
       '0015-02-22', '0015-02-28', '0015-03-01', '0015-03-07',
       '0015-03-08', '0015-03-14', '0015-03-15', '0015-03-21',
       '0015-03-22', '0015-03-28', '0015-03-29', '0015-04-04',
       '0015-04-05', '0015-04-11', '0015-04-12', '0015-04-18',
       '0015-04-19', '0015-04-25', '0015-04-26', '0015-01-07',
       '0015-01-09', '0015-01-12', '0015-01-13', '0015-01-14',
       '0015-01-15', '0015-01-16', '0015-01-21', '0015-01-22',
       '0015-01-23', '0015-01-28', '0015-01-29', '0015-01-30',
       '0015-02-02', '0015-02-04', '0015-02-05', '0015-02-11',
       '0015-02-12', '0015-02-13', '0015-02-18', '0015-02-20',
       '0015-02-25', '0015-02-26', '0015-02-27', '0015-03-03',
       '0015-03-04', '0015-03-05', '0015-03-06', '0015-03-09',
       '0015-03-10', '0015-03-11', '0015-03-13', '0015-03-17',
       '0015-03-18', '0015-03-19', '0015-03-23', '0015-03-24',
       '0015-03-25', '0015-03-26', '0015-03-27', '0015-03-31',
       '0015-04-01', '0015-04-02', '0015-04-03', '0015-04-07',
       '0015-04-08', '0015-04-09', '0015-04-10', '0015-04-14',
       '0015-04-15', '0015-04-21', '0015-04-22', '0015-04-24',
       '0015-04-28', '0015-04-29', '0015-04-30', '0015-01-02',
       '0015-01-05', '0015-01-06', '0015-01-08', '0015-01-19',
       '0015-01-20', '0015-01-26', '0015-01-27', '0015-02-03',
       '0015-02-09', '0015-02-10', '0015-02-16', '0015-02-19',
       '0015-02-23', '0015-02-24', '0015-03-02', '0015-03-12',
       '0015-03-16', '0015-03-20', '0015-03-30', '0015-04-06',
       '0015-04-13', '0015-04-16', '0015-04-17', '0015-04-20',
       '0015-04-23', '0015-04-27', '0015-02-06', '0015-02-17'], dtype=object)

In [226]:
Apr_4 = rides[rides["ServiceDate"] == "0015-04-04"] #all rides on April 4, 2015
Apr_4.shape

(2922, 25)

In [166]:
len(Apr_4["Run"].unique()) #number of runs on April 4, 2015
import time
breakdown = time.strptime("13:30:04", "%H:%M:%S")
breakdownETA = breakdown.tm_hour*60 + breakdown.tm_min + breakdown.tm_sec/60.0
breakdownETA

810.0666666666667

In [167]:
newETA = Apr_4["ETA"]/60
newETA.head()
print("breakdown time is %f mins" % breakdownETA)
breakdownride = Apr_4["Run"].unique()[14] #set breakdown ride
print("breakdown ride is Run %s "%breakdownride)

breakdown time is 810.066667 mins
breakdown ride is Run 9016

In [168]:
leftover = Apr_4[Apr_4["ETA"]/60 >= breakdownETA]

In [169]:
len(leftover["Run"].unique())

107

In [170]:
len(Apr_4["Run"].unique())

117

In [171]:
pickmeup = leftover[leftover["Run"]==breakdownride]

In [179]:
pickmeup

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
499781,499782,622882,0015-04-04,9016,6,83401301,6170,0,50258,420,...,19433145,1,DEM,1,CLI1,NaN,11525,1,0,2
499782,499783,622883,0015-04-04,9016,6,85354514,4002,0,50875,180,...,19427450,1,DEM,1,CLI1,NaN,100998,1,0,3
499783,499784,622884,0015-04-04,9016,6,85585985,3361,1,52948,120,...,19424004,1,DEM,1,NaN,CLI1,7300,0,1,2
499784,499785,622885,0015-04-04,9016,6,86280478,3954,1,53714,120,...,19427450,1,DEM,1,NaN,CLI1,100998,0,1,1
499785,499786,622886,0015-04-04,9016,6,88363835,6229,1,55920,300,...,19433145,1,DEM,1,NaN,CLI1,11525,0,1,0
499786,499787,622887,0015-04-04,9016,6,91100809,5414,6,57000,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
499787,499788,622888,0015-04-04,9016,6,97775187,16223,16,58052,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
499788,499789,622889,0015-04-04,9016,6,99999998,288,3,58380,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [278]:
clients = pickmeup["ClientID"].unique()
clients = clients[~np.isnan(clients)]
clients
for cli in clients:
    onoff = pickmeup[pickmeup["ClientID"]==cli]
    if onoff.shape[0] == 1:
        print(onoff.ClientID)
        unschedBag = pickmeup[pickmeup["ClientID"] != cli]

499783    7300
Name: ClientID, dtype: float64

In [287]:
unschedBag = unschedBag[unschedBag["Activity"] != 6]
unschedBag = unschedBag[unschedBag["Activity"] != 16]
unschedBag = unschedBag[unschedBag["Activity"] != 3]

In [288]:
unschedBag #people who were originally planned to be picked up and dropped off on broken bus after bus has broken

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
499781,499782,622882,0015-04-04,9016,6,83401301,6170,0,50258,420,...,19433145,1,DEM,1,CLI1,NaN,11525,1,0,2
499782,499783,622883,0015-04-04,9016,6,85354514,4002,0,50875,180,...,19427450,1,DEM,1,CLI1,NaN,100998,1,0,3
499784,499785,622885,0015-04-04,9016,6,86280478,3954,1,53714,120,...,19427450,1,DEM,1,NaN,CLI1,100998,0,1,1
499785,499786,622886,0015-04-04,9016,6,88363835,6229,1,55920,300,...,19433145,1,DEM,1,NaN,CLI1,11525,0,1,0

In [296]:
#time that first stranded passenger needs to get picked up
m, s = divmod(50258, 60)
h, m = divmod(m, 60)
print "Pick up unschedBag[0] at %d:%02d:%02d" % (h, m, s)

Pick up unschedBag[0] at 13:57:38

In [332]:
#etas of buses that are between breakdown and first stranded passenger's eta
newETA = newETA[(newETA<=divmod(50258,60)[0]) & (newETA>=breakdownETA)]

In [337]:
newETA.index

Int64Index([1889, 40792, 42680, 493019, 493625, 494048, 497637, 498107, 499405, 499406, 499407, 500182, 500556, 500557, 500558, 500995, 502149, 502572, 502573, 503380, 503749, 503750, 504178, 504179, 504608, 504996, 504997, 505409, 505410, 505411, 505766, 509271, 509788, 509789, 510192, 510525, 510917, 511259, 511598, 512146, 512592, 512968, 512969, 512970, 515020, 515021, 515211, 515601, 515946, 515947, 515948, 515949, 516796, 516797, 516798, 516799, 516800, 517121, 517370, 518450, 518451, 518452, 518453, 518736, 519013, 519437, 520595, 520596, 522128, 522129, 522130, 522131, 522811, 522812, 523206, 523207, 523538, 523539, 523540, 524318, 524319, 524320, 524723, 525213, 525214, 525215, 525216, 525661, 525662, 526139, 526140, 526455, 526892, 527328, 527765, 528174, 528589, 529411, 529786, 530212, ...], dtype='int64')