In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
adjusted = pd.read_csv('../data/4mo_deadhead_cost_adjusted_results.csv')

In [7]:
adjusted

      ServiceDate   Run  CostProxy  PctDeadhead
0      0015-01-01  9701      14400     0.372764
1      0015-01-01  9706      14400     0.414486
2      0015-01-01  9702      14400     0.330865
3      0015-01-01  9703      14400     0.199606
4      0015-01-01  9704      14400     0.426727
5      0015-01-01  9707      14400     0.326196
6      0015-01-01  9710      14400     0.237116
7      0015-01-01  9709      14400     0.341992
8      0015-01-01  9722      14400     0.419332
9      0015-01-01  9711      14400     0.586091
10     0015-01-01  9712      14400     0.312304
11     0015-01-01  9723      14400     0.389878
12     0015-01-01  9713      14400     0.568572
13     0015-01-01  9714      14400     0.370151
14     0015-01-01  9724      14400     0.355828
15     0015-01-01  9715      14400     0.342498
16     0015-01-01  9717      14400     0.494826
17     0015-01-01  9718      14400     0.332390
18     0015-01-01  9726      14400     0.330469
19     0015-01-01  9719      14400     0.366495
20     0015-01-01  9721      14400     0.290577
21     0015-01-01  9728      14400     0.371669
22     0015-01-01  9729      14400     0.307115
23     0015-01-01  9730      14400     0.581589
24     0015-01-01  8701      14400     0.256769
25     0015-01-01  8717      14400     0.269340
26     0015-01-01  8720      14400     0.327427
27     0015-01-01  8709      14400     0.362320
28     0015-01-01  8704      14400     0.421522
29     0015-01-01  8716      14400     0.342388
...           ...   ...        ...          ...
25165  0015-03-20  5540      14400     0.224678
25166  0015-04-03  5540      14400     0.214938
25167  0015-04-10  5540      14400     0.239815
25168  0015-04-17  5540      14400     0.433271
25169  0015-04-24  5540      14400     0.308394
25170  0015-03-20  5541      14400     0.474209
25171  0015-04-03  5541      14400     0.343223
25172  0015-04-10  5541      14400     0.304808
25173  0015-04-17  5541      14400     0.356813
25174  0015-03-20  5542      14400     0.386901
25175  0015-04-03  5542      14400     0.296367
25176  0015-04-10  5542      14400     0.426200
25177  0015-04-24  5543      14400     0.199823
25178  0015-03-21  8049      14400     0.374682
25179  0015-03-28  8049      14400     0.257860
25180  0015-04-04  8049      14400     0.406485
25181  0015-03-21  8050      14400     0.440320
25182  0015-03-28  8050      14400     0.330224
25183  0015-04-11  8050      14400     0.392826
25184  0015-04-25  8050      14400     0.572214
25185  0015-03-21  8051      14400     0.558844
25186  0015-03-28  8051      14400     0.218764
25187  0015-04-04  8051      14400     0.164687
25188  0015-04-18  8051      14400     0.489474
25189  0015-04-25  8051      14400     0.397241
25190  0015-04-04  8052      14400     0.327056
25191  0015-04-11  8052      14400     0.343934
25192  0015-04-18  8052      14400     0.560376
25193  0015-04-04  8048      14400     0.381732
25194  0015-04-11  8048      14400     0.408301

[25195 rows x 4 columns]

In [8]:
adjusted[adjusted.CostProxy > 14400]

     ServiceDate    Run     CostProxy  PctDeadhead
194   0015-04-08   PEB1  28153.090909     0.005073
1651  0015-01-02  PEB30  19863.000000     0.000101
5604  0015-02-20   7120  16533.000000     0.851207

In [9]:
data = pd.read_csv('../data/UW_Trip_Data_4mo_QC_capacity.csv')

//anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [12]:
run = data[(data.ServiceDate == '0015-04-08') & (data.Run == 'PEB1')]

In [14]:
from legPct import runTime

In [18]:
runTime(run['ETA'])/sum(run.NumOn)

28153

In [23]:
run[['Run','Activity','ETA','City', 'NumOn','NumOff','TotalPass']]

       Run  Activity     ETA          City  NumOn  NumOff  TotalPass
5492  PEB1         4   29340          kent      0       0          0
5493  PEB1         0   33240          kent      1       0          1
5494  PEB1         1   33936        auburn      0       1          0
5495  PEB1         5   34800           NaN      0       0          0
5496  PEB1         0  339001          kent      1       0          1
5497  PEB1         1  339002          kent      0       1          0
5498  PEB1         0  339003     covington      1       0          1
5499  PEB1         1  339004     covington      0       1          0
5500  PEB1         0  339005     covington      1       0          1
5501  PEB1         1  339006     covington      0       1          0
5502  PEB1         0  339007     covington      1       0          1
5503  PEB1         1  339008     covington      0       1          0
5504  PEB1         7  339009           NaN      0       0          0
5505  PEB1         0  339010          kent      1       0          1
5506  PEB1         0  339011          kent      1       0          2
5507  PEB1         0  339012          kent      1       0          3
5508  PEB1         1  339013   federal way      0       1          2
5509  PEB1         1  339014   federal way      0       1          1
5510  PEB1         1  339015   federal way      0       1          0
5511  PEB1         5  339016           NaN      0       0          0
5512  PEB1         0  339017      bellevue      1       0          1
5513  PEB1         0  339018      bellevue      1       0          2
5514  PEB1         1  339019  maple valley      0       1          1
5515  PEB1         1  339020          kent      0       1          0
5516  PEB1         0  339021          kent      1       0          1
5517  PEB1         1  339022          kent      0       1          0
5518  PEB1         6  339023          kent      0       0          0
5519  PEB1         3  339024          kent      0       0          0